*{
  box-sizing: border-box;
}
body{
  font-family: 'Prompt', sans-serif;
}

img{
  width: 100%;
  height: auto;
}


.myboxShadow{
	-o-box-shadow: 5px 5px 10px -5px rgba(145,145,145,1);
	-webkit-box-shadow: 5px 5px 10px -5px rgba(145,145,145,1);
	-moz-box-shadow: 5px 5px 10px -5px rgba(145,145,145,1);
	box-shadow: 5px 5px 10px -5px rgba(145,145,145,1);
}


#topbar{
  border-bottom: solid grey 1px;
}


#footer{
  background-color: white;
  border-top:solid black 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-wrapper{
  color:black;
  padding-top: 15px;
}
.footer-link-wrapper{
  padding: 5px 0px;
  /* background-color: red; */
}
.footer-link-wrapper a{
    color:black;
}
.footer-icon-wrapper{
  /* background-color: red; */
  padding: 15px 0px;
}
.footer-icon-wrapper a{
  color:grey;
  margin-left: 8px;
}
.footer-icon-wrapper a:hover{
  text-decoration: none;
  color:black;
}
/*=================== home============================  */
.home-first-text-wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
}
.home-first-text-wrapper ul{
  padding-left: 16px;
}
.home-first-text-wrapper h2{
  font-size: 1.1rem;
}
.home-first-text-wrapper p{
  font-size: 0.9rem;
}
.home-first-text-wrapper ul li{
  font-size: 0.9rem;
}

/*=================== end home============================  */
